<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pennapps.disposableapps"
    android:versionCode="1"
    android:versionName="1.0"
    android:installLocation="internalOnly">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.pennapps.disposableapps.Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.pennapps.disposableapps.AppInstalledActivity"
            android:label="@string/appInstalledActivityTitle"
            android:theme="@android:style/Theme.Holo.Dialog">
        </activity>

        <receiver android:process=":remote" android:name="com.pennapps.disposableapps.UninstallReceiver"></receiver>

        <receiver android:name="com.pennapps.disposableapps.PackageUninstalledReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.pennapps.disposableapps.PackageReceiver">
            <intent-filter>
                <action android:name="android.intent.action.INSTALL_PACKAGE" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.pennapps.disposableapps.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
